<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr style="text-align: center">
        <th scope="col">Номер</th>
        <th scope="col">Клиент</th>
        <th scope="col">Дата</th>
        <th scope="col">Адрес</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders ">
        <td><button (click)="orderDetails(order.orderId)" class="btn badge-primary">{{ order.orderId }}</button></td>
        <td>{{ order.client }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.address }}</td>
        <td><button (click)="updateOrder(order.orderId)" class="btn btn-primary">Изменить</button></td>
        <td><button class="btn btn-secondary" (click)="deleteOrder(order.orderId)">Удалить</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>