<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Номер</th>
        <th scope="col" style="width: 40%">Название</th>
        <th scope="col">Цена</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products ">
        <td>{{ product.productId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td><button (click)="update(product.productId)" class="btn btn-primary" type="button">Изменить</button></td>
        <td><button class="btn btn-secondary" (click)="delete(product.productId)">Удалить</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>