<html lang="ru">
<body>
<div class="card-header"><h2>{{panelTitle}}</h2></div>
<div class="card my-5">
  <div class="card-body">
    <form #orderForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group col-md-5">
        <label for="client">ФИО</label>
        <input #client="ngModel" [(ngModel)]="order.client" class="form-control" id="client" name="client" required type="text"/>
        <div [hidden]="!client.invalid || client.untouched" class="alert alert-danger">Заполните ФИО</div>
      </div>

      <div class="form-group col-md-5">
        <label for="date">Дата доставки</label>
        <input #date="ngModel" [(ngModel)]="order.date" class="form-control" id="date" min="2023-01-01" name="date" required type="date"/>
        <div [hidden]="!date.invalid || date.untouched" class="alert alert-danger">Выберите дату</div>
      </div>

      <div class="form-group col-md-5">
        <label for="address">Адрес доставки</label>
        <input #address="ngModel" [(ngModel)]="order.address" class="form-control" id="address" name="address" required type="text"/>
        <div [hidden]="!address.invalid || address.untouched" class="alert alert-danger">Укажите адрес</div>
      </div>

      <div class="form-group">
        <h3 style="text-align: center">Выберите товары:</h3>
        <label>
          <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Поиск товара..." type="text"/>
        </label>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr role="row" style="text-align: center">
            <th scope="col" style="width: 40%">Товар</th>
            <th scope="col" style="width: 15%">Стоимость</th>
            <th scope="col">Колличество</th>
            <th scope="col">Добавлено</th>
            <th scope="col">Добавить</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products | productFilter: searchTerm; let i = index;">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
              <label for="count"></label>
              <input #count="ngModel" [(ngModel)]="countProduct[i]" class="form-control" id="count" max="999" min="1" name="count" type="number"/>
            </td>
            <td style="text-align: center"><p *ngIf="orderItemsMap.get(product) != null">{{orderItemsMap.get(product)}}</p></td>
            <td style="text-align: center"><button (click)="addProductToOrder(product, count.value)" class="btn btn-info"type="button">Добавить</button></td>
            <td style="text-align: center">
              <button (click)="deleteProductWithOrder(product)" [disabled]="orderItemsMap.get(product) == null" class="btn btn-danger" type="button">Отмена</button>
            </td>
          </tr>
          <tr [hidden]="orderItemsMap.size == 0">
            <td><b>Итого</b></td>
            <td><b>{{getSum()}} р</b></td>
            <td><b>{{getCount()}} штук</b></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <input (click)="orderItemsMap.clear()" style="float: left" type="reset" value="Очистить форму"/>
        <button [disabled]="!orderForm.form.valid || orderItemsMap.size == 0" class="btn btn-info" style="width: 20%; float: right" type="submit">Заказать</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>